<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="">Test system / Admin</a>


    <a title="Logout" onclick="logout()" class="btn pull-right">
     Logout
    </a>


  </div>
</div>