<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="">Test system</a>

    <form class="navbar-form pull-right">
      <input type="text" class="span3" placeholder="login">
      <input type="text" class="span3" placeholder="password">
      <button type="submit" class="btn">Submit</button>
    </form>


  </div>
</div>